{% extends 'base.html' %}
{% block body %}


<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">

    <div class="w-50">
        <div class="row d-flex justify-content-center">
            <button class="col-md-6 glow-on-hover" type="button" data-toggle="modal"
                    data-target="#sprintChange">ETL-Prozess starten
            </button>
        </div>

        <div id="progress-table">

        </div>

    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="sprintChange">
    <div class="modal-dialog " role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title collapse show multi-collapse text-light" id="modal-heading">Willst du wirklich
                    diesen Prozess starten?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Abbrechen">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {# {% include 'subtemplates/loading.html' %} #}
                <h4 class="bg-danger text-white rounded p-2 collapse show multi-collapse">Achtung! Es handelt sich bei
                    dieser Ausführung um einen
                    unwiederuflichen Prozess der bei Bestätigung gestartet wird. Die Ausführung kann mehrere Stunden
                    dauern.</h4>
            </div>

            <div class="modal-footer collapse show multi-collapse" id="modal-footer">
                <span id="unlockButtonIcon" data-feather="lock"></span>
                <input checked class="mr-3" type="checkbox" id="unlockSprintBox" name="unlockButton"
                       onchange="unlockSprintButton()">
                <!--                /start_etl_process-->
                <a onclick="start()">
                    <button disabled id="submitSprint" type="button" class="btn btn-danger" data-toggle="collapse"
                            data-target=".multi-collapse" aria-expanded="false"
                            aria-controls="loadingDiv modal-footer modal-heading"
                            data-dismiss="modal">Ja, Prozess starten
                    </button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    function start() {
        var socket = io();
        socket.emit('start_adresse', function (data) {
            document.getElementById("progress-table").innerHTML = data
            socket.emit('start_funktion', function (data) {
                document.getElementById("progress-table").innerHTML = data
                socket.emit('start_mitarbeiter', function (data) {
                    alert("Fügen Sie Lager manuell ein, falls neue hinzugekommen sind")
                    alert("Fügen Sie Kategorien manuell ein, falls neue hinzugekommen sind")
                    document.getElementById("progress-table").innerHTML = data
                    alert("Fügen Sie Zahlungsarten manuell ein, falls neue hinzugekommen sind")
                    socket.emit('start_kunde', function (data) {
                        document.getElementById("progress-table").innerHTML = data
                        socket.emit('start_marke', function (data) {
                            document.getElementById("progress-table").innerHTML = data
                            socket.emit('start_produkt', function (data) {
                                document.getElementById("progress-table").innerHTML = data
                                socket.emit('start_preishistorie', function (data) {
                                    document.getElementById("progress-table").innerHTML = data
                                    socket.emit('start_lagerplatz', function (data) {
                                        document.getElementById("progress-table").innerHTML = data
                                        socket.emit('start_zwhaendler', function (data) {
                                            document.getElementById("progress-table").innerHTML = data
                                            socket.emit('start_einkauf', function (data) {
                                                document.getElementById("progress-table").innerHTML = data
                                                socket.emit('start_bestellung', function (data) {
                                                    document.getElementById("progress-table").innerHTML = data
                                                })
                                            })
                                        })
                                    })
                                })
                            })
                        })
                    })
                })
            })
        });
    }

    //     await socket.emit('start2', function (data) {
    //         document.getElementById("progress-table").innerHTML = data
    //         feather.replace()
    //         console.log("START2")
    //     });
    // }

    function unlockSprintButton() {
        let unlockBox = document.getElementById('unlockSprintBox')
        document.getElementById('submitSprint').disabled = unlockBox.checked;
    }
</script>
{% endblock %}
